/* Define default Variable */
$colorPrimary: #487CCA ;
$colorSuccess: #9DDAD8;
$colorCasper: #E7EBED;
$colorWhite: #ffffff;
$colorGrey: #F4F5FA;
$colorSmoke: #949a9d;
$colorGhost: #F5F5F5;
$colorKaonashi :#f6f7f8;
$colorBlack: #2b2f33;
$colorRed: #dc3545;
$colorGreen: #00A199;
$colorBlackOpacity: rgba(0,0,0,.125);
$colorGasSmoke: #959DA5;
